<!DOCTYPE html>
<html ng-app='ebayApp'>

<head>
    <title>
        <%= title %>
    </title>
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="angular/signin.js"></script>

</head>

<header class="nav-down" ng-cloak style="z-index:99">
    <div class="container header-data" ng-controller="headercontroller">
        
        <div ng-if="showHeader" class="text-left" style="display: inline-block"> Hi! 
            <a href="http://localhost:3000/signin">
                <font color="#004080">Sign in</font>
            </a> or
            <a href="http://localhost:3000/register">
                <font color="#004080">register</font>
            </a>			
        </div>        
        <div ng-hide="showHeader" style="display: inline-block">        
			<ul class="profile-wrapper" style="display: inline-block">
			<li>
				<!-- user profile -->
				<div class="profile" style="display: inline-block">
					<p style="display: inline-block">Hi</p>
					<a href="#/account" class="name">{{username}}!</a>				
					<!-- more menu -->
					<ul class="menu">
						<li><a href="#/account"  target="_self">My Account</a></li>
						<li><a  href="#/myCollection" target="_self" ng-click="collectionClicked()">My Collection</a></li>						
						 <li><a href="#logout" ng-click="logout()"  target="_self">Log out</a></li> 
						
					</ul>
				</div>
			</li>
		</ul>
		</div>
		
        
        


        <div style="display: inline-block;float:right" class="cart-img"><a ng-href="{{cartlink}}"><img src="/stock/cart.png"><span class="badge">{{cartcount}}</span></a> </div>
        <div style="display: inline-block">&nbsp;&nbsp;</div>
        <!-- <div style="display: inline-block;float:right">My ebay</div> -->
        <div  style="display: inline-block;float:right">        
			<ul class="profile-wrapper" >
			<li>
				<!-- user profile -->
				<div class="profile" style="display: inline-block">
					
					<a href="#/account" class="name">My ebay</a>				
					<!-- more menu -->
					<ul class="menu">
						<li><a ng-href="{{historylink}}"  target="_self" ng-click="purchaseClicked()">Purchase History</a></li>
						<li><a ng-href="{{bidslink}}"  target="_self">Bids</a></li>											
						 <li><a ng-href="{{selllink}}"  target="_self">Sell</a></li> 
						
					</ul>
				</div>
			</li>
		</ul>
		</div>


    </div>
</header>

<body>
    <div class="body-back">

        <div class="container text-center" ng-controller="searchcontroller">
            <a class="navbar-brand" href="#/home">
                <img alt="Brand" src="/stock/logo.png" >
            </a>
            <form class="navbar-form navbar-left" role="search">

                <div class="form-group" style="padding-right:20px">
                    <input type="text" class="form-control" placeholder="Search" size="100" style="height:40px" ng-model="searchitem">
                </div>
				<a  href="#/basicsearch">
                <button type="button" class="btn btn-primary" style="height:40px;padding-left" ng-click="searchClicked()">Search</button>
                </a>
            </form>


        </div>
<br>
<br>

<div ng-view></div>

        <br>
        <br>
        <br>
    </div>

</body>
<footer>
    <div class="container">

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 category">

                ebay mock project CMPE 273

            </div>
            <div class="col-md-4"></div>
        </div>

    </div>
</footer>

</html>

<script>
    var didScroll;
    var lastScrollTop = 0;
    var delta = 5;
    var navbarHeight = $('header').outerHeight();

    $(window).scroll(function(event) {
        didScroll = true;
    });

    setInterval(function() {
        if (didScroll) {
            hasScrolled();
            didScroll = false;
        }
    }, 250);

    function hasScrolled() {
        var st = $(this).scrollTop();

        // Make sure they scroll more than delta
        if (Math.abs(lastScrollTop - st) <= delta)
            return;

        // If they scrolled down and are past the navbar, add class .nav-up.
        // This is necessary so you never see what is "behind" the navbar.
        if (st > lastScrollTop && st > navbarHeight) {
            // Scroll Down
            $('header').removeClass('nav-down').addClass('nav-up');
        } else {
            // Scroll Up
            if (st + $(window).height() < $(document).height()) {
                $('header').removeClass('nav-up').addClass('nav-down');
            }
        }

        lastScrollTop = st;
    }

</script>
