         <div class="container" ng-controller="indexcontroller">
            <br>
            <div class="row">
                <div class="col-md-8">

                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <!-- <img src="http://placehold.it/920x500" alt="pic 1"> -->
                                <img src="/stock/sale2.jpg" alt="music" height="600" width="920">
                                <div class="carousel-caption">

                                </div>
                            </div>
                            <div class="item">
                                <!-- <img src="http://placehold.it/920x500" alt="pic 2"> -->
                                <img src="/stock/sale.jpg" alt="music" height="600" width="920">
                                <div class="carousel-caption">

                                </div>
                            </div>


                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" target="_self">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" target="_self">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="row">
                        <!-- <img src="http://placehold.it/300x300" alt="pic side"> -->
                        <img src="/stock/business.jpg" alt="music" height="300" width="300">
                    </div>
                    <br>
                    <div class="row">
                        <!-- <img src="http://placehold.it/300x95" alt="pic side"> -->
                        <img src="/stock/small.jpg" alt="music" height="120" width="300">
                    </div>
                </div>
            </div>

            <div class="row category">

                Categories

            </div>

            <div class="row">

                <hr style="height:1px;border:none;color:#8a8a8a;background-color:#8a8a8a;" />

            </div>

            <div class="row">

                <div class="col-md-6">
                    <!-- <img src="http://placehold.it/500x400" alt="pic side"> -->
                    <img src="/stock/electronics.jpg" alt="music" height="400" width="500">
                </div>

                <div class="col-md-6">
                    <!-- <img src="http://placehold.it/500x400" alt="pic side"> -->
                    <img src="/stock/fashion.jpg" alt="music" height="400" width="500">
                </div>

            </div>
            <div class="row cat-details">

                <div class="col-md-6">
                    Electronics
                </div>

                <div class="col-md-6">
                    Fashion
                </div>

            </div>

            <br>
            <br>
            <br>

            <div class="row">

                <div class="col-md-6">
                    <!-- <img src="http://placehold.it/500x400" alt="pic side"> -->
                    <img src="/stock/sports.jpg" alt="music" height="400" width="500">
                </div>

                <div class="col-md-6">
                    <!-- <img src="http://placehold.it/500x400" alt="pic side"> -->
                    <img src="/stock/home.jpg" alt="music" height="400" width="500">
                </div>

            </div>
            <div class="row cat-details">

                <div class="col-md-6">
                    Sporting goods
                </div>

                <div class="col-md-6">
                    home and Garden
                </div>

            </div>

            <br>
            <br>
            <br>
            <div class="row">

                <div class="col-md-6">
                    <!-- <img src="http://placehold.it/500x400" alt="pic side"> -->
                    <img src="/stock/business.jpg" alt="music" height="400" width="500">
                </div>

                <div class="col-md-6">
                    <!-- <img src="http://placehold.it/500x400" alt="pic side"> -->
                    <img src="/stock/music.jpg" alt="music" height="400" width="500">
                </div>

            </div>

            <div class="row cat-details">

                <div class="col-md-6">
                    Business and industrial
                </div>

                <div class="col-md-6">
                    Music and Media
                </div>

            </div>



        </div> 
                