.signinbody{
	color: #333;	
	background-image: url("/stock/signback.jpg");    
    font-family: "Helvetica neue",Helvetica,Arial,Sans-serif;
    font-size: 14px;
    
    line-height: 1;
}

#rvan {
    cursor: inherit;
}

a:active, a:link, .g-novisited a:visited {
    color: #00c;
    text-decoration: none;
}

a {
    color: #0654ba !important;
}

.ttl {
    font-size: 18px;
}

.sgnt.brb {
    border-style: solid solid none solid;
    border-radius: 3px 0 0 0px;
}

.sgnt {
    float: left;
    height: 45px;
    width: 49%;
    color: #954949;
}

.brb {
    background-color: #eee;
    border: 1px solid #d6d6d6;
    width: 119% !important;
    color: #0654ba !important;
    border-radius: 3px;
    cursor: pointer;
}

.regbrb{
	background-color: #fff;
}

.sp {
    display: inline-block !important;
    background-repeat: no-repeat;
    width: 30px;
    position: relative;
    height: 30px;
    left: 9%;
    bottom: -11px;
}

.arl {
    background-position: -30px -76px;
}

.spr {
    display: block;
    background-image: url(https://securepics.ebaystatic.com/aw/pics/register/sprSignIn3.png) !important;
}

.ml53 {
    margin: 0 0 0 13%;
}

.tx {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    font-size: 130%; 
    font-weight: 200;
}

.reg{
	background-position: -65px -75px;
	background-image:	url(https://securepics.ebaystatic.com/aw/pics/register/sprSignIn3.png) !important;
	
}

.formdata{
	background-color: white;
	width: 85.5%;
	border-style: none solid solid solid;
	border-radius: 0 0 3px 3px;
	border-width: 0px 1px 1px 1px;	
	border-color: #d6d6d6;
}

.formelements{
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 10px;
	padding-bottom: 20px;	
}

md-checkbox.md-checked .md-icon {
    background-color: #265a88;
}

.forgotpassword{
		float:right;
		color: #265a88;	
	    font-size: 90%;
}

.fontchange{
	    font-family: "Helvetica neue",Helvetica,Arial,Sans-serif;
	    font-weight: 300;
	    font-size: 90%;
	    color : #464646;
}

.fontsignin{
	color : #464646;
}

.btn-primary {
	font-weight: bold;
	font-size: 110%;
}

.shd {
    position: relative;
    width: 1%;
    background-color: #d7d7d7;
    border: 1px solid #d7d7d7;
    height: 38px;
    margin: 5px 0 0 0;
    display: inline-block;
}

.regcond{
		font-family: "Helvetica neue",Helvetica,Arial,Sans-serif;
	    font-weight: 300;
	    font-size: 90%;
	    color : #464646;	
}

.emailcond{
	font-family: "Helvetica neue",Helvetica,Arial,Sans-serif;
	    font-weight: 300;
	    font-size: 90%;
	    color : #dd1e31;
}

.passcond{
	font-family: "Helvetica neue",Helvetica,Arial,Sans-serif;
	    font-weight: 300;
	    font-size: 90%;
	    color : #6c6c6c;
}