.radioBtn ul {
	list-style:none outside none;
	padding:15px 0;
	color:#333
}
.radioBtn.radio-lg ul {
	padding:15px 0 18px 0
}
.radioBtn.radio-sm ul {
	padding:15px 0 17px 0
}
.radioBtn .gspr {
	clear:left;
	float:left;
	height:20px;
	width:20px;
	cursor:pointer
}
.radioBtn>label {
	font-size:16px;
	font-weight:bold;
	color:#333
}
.radioBtn.radio-sm>label {
	font-size:14px
}
.radioBtn.radio-lg>label {
	font-size:18px
}
.radioBtn.radio-sm li {
	line-height:16px;
	font-size:12px;
	padding:0 0 8px
}
.radioBtn.radio-med li {
	line-height:20px;
	font-size:14px;
	padding:0 0 10px
}
.radioBtn.radio-lg li {
	line-height:26px;
	font-size:16px;
	padding:0 0 12px
}
.radioBtn.radio-med .radio-on,.radioBtn.radio-med .radio-on.radio-d:hover {
	background-position:-218px -121px
}
.radioBtn.radio-med .radio-on:hover {
	background-position:-318px -181px
}
.radioBtn.radio-med .radio-off,.radioBtn.radio-med .radio-off.radio-d:hover {
	background-position:-170px -121px
}
.radioBtn.radio-med .radio-off:hover {
	background-position:-194px -121px
}
.radioBtn.radio-lg .gspr {
	height:26px;
	width:26px
}
.radioBtn.radio-lg .radio-on,.radioBtn.radio-lg .radio-on.radio-d:hover {
	background-position:-66px -178px
}
.radioBtn.radio-lg .radio-on:hover {
	background-position:-290px -178px
}
.radioBtn.radio-lg .radio-off,.radioBtn.radio-lg .radio-off.radio-d:hover {
	background-position:-4px -178px
}
.radioBtn.radio-lg .radio-off:hover {
	background-position:-35px -178px
}
.radioBtn.radio-sm .gspr {
	height:13px;
	width:13px
}
.radioBtn.radio-sm .radio-on,.radioBtn.radio-sm .radio-on.radio-d:hover {
	background-position:-221px -184px
}
.radioBtn.radio-sm .radio-on:hover {
	background-position:-340px -184px
}
.radioBtn.radio-sm .radio-off,.radioBtn.radio-sm .radio-off.radio-d:hover {
	background-position:-189px -184px
}
.radioBtn.radio-sm .radio-off:hover {
	background-position:-205px -184px
}
.radioBtn .radio-lb {
	cursor:pointer;
	margin-left:10px
}
.radioBtn.radio-sm .radio-lb {
	margin-left:8px
}
.radioBtn.radio-lg .radio-lb {
	margin-left:12px
}
.radioBtn .radio-lb:hover {
	color:#0654ba
}
.radioBtn .radio-input {
	display:none
}
.radioBtn.radio-hori ul {
	padding:15px 0 0 0;
	overflow:hidden;
	margin-bottom:25px
}
.radioBtn.radio-lg.radio-hori ul {
	margin-bottom:30px
}
.radioBtn.radio-hori li {
	padding:0;
	float:left;
	margin-right:30px
}
.radioBtn .gspr.radio-d,.radioBtn .radio-lb-d,.radioBtn .radio-lb-d:hover {
	opacity:.5;
	filter:alpha(opacity=50);
	-ms-filter:"alpha(opacity=50)";
	filter:alpha(opacity=50);
	cursor:default;
	color:#999
}
